<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> Projects Page </title>
  </head>
  <body>
    {{> header}}
    <p> Here are the projects! </p>

    {{> footers}}
  </body>


</html>
